body {
	background-color: #505050;
	margin: 18px 0 0 8px;
}

.body {
	margin: auto;
	width: 1420px;
}

header {
	height: 135px;
	width: 1410px;
	position: relative;
}

header, .leftcol, .rightcol, .content, .form {
	border-radius: 10px;
	box-shadow: 9px 9px 9px #000000;
	background-color: #909090;
}

header img.logo {
	height: 105px;
	margin: 10px;
}

header img.search {
	position: absolute;
	top: 10px;
	right: 30px;
}

header img.delete, header img.refresh {
	position: absolute;
	right: 10px;
	height: 20px;
	width: 20px;
}

header .delete {
	bottom: 10px;
}

header .refresh {
	top: 10px;
}

.leftcol{
	width: 108px;
	height: 410px;
	float: left;
	margin: 20px;
	padding: 15px 0px 0px 32px;
}

.leftcol img {
	width: 70px;
	margin-bottom: 6px;
}

.rightcol img {
	width: 70px;
	margin-bottom: 6px;
}

.leftcol img.selected {
	border: 5px solid red;
	margin: -5px 0 1px -5px;
	border-radius: 5px;
}

.rightcol{
	width: 105px;
	height: 410px;
	float: left;
	margin: 20px 0 0 30px;
	padding: 15px 0 0 35px;
}

.wall {
	background-image: url('./resources/brick.jpg');
	width: 120px;
	height: 70px;
	margin:-5px 0px 0px -25px;
}

.rightcol img {
	width: 70px;
	margin-bottom: 6px;
}

.content {
	margin: 20px 0 0 30px;
	width: 1020px;
	height: 582px;
	float: left;
	position: relative;
}

.content img {
	margin: 10px;
	width: 1000px;
	height: 562px;
}

.form {
	background-color: #88ff89;
	width: 500px;
	height: 150px;
	position: absolute;
	bottom: -94px;
	left: -245px;
	padding: 10px;
	font-family: arial;
	font-size: 16px;
}

.form span.big {
	font-family: Times;
	font-size: 30px;
}

.form span.shadow {
	text-shadow: 5px 5px 5px #ff0000;
}

.form span.italic {
	font-style: italic;
}

.form form {
	height: 22px;
}

.form form input[type="text"] {
	margin-left: 2px;
	width: 376px;
	height: 15px;
}

.form form input[type="submit"] {
	border: 1px solid #a8a4a5;
	background-color: #f4eff3;
	margin-left: 4px;
	height: 22px;
	font-size:12px;
	letter-spacing: 1px;
}