body
{
	text-align: center;
}

.header
{
	color:#dc3545;
	margin-bottom:2rem
}

.col
{
	width:100%;
	margin-left: auto;
	padding-right: 4%;
	min-height:1px;
	max-width:25%
}

.row
{
	display:flex;
	flex-wrap:wrap;
	margin-right:-15px;
	margin-left:-15px
}
/* Add a black background color to the top navigation */
.navbar {
	display: flex;
	justify-content: center;
}

/* Style the links inside the navigation bar */
.navbar a {
	color: #000000;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
	color: #ddd;
	background-color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
	background-color: #af3c41;
	color: white;
}

#block_container {
	display: flex;
	justify-content: center;
}

#block1 {
	margin-right: 10%;
}